<%- include ('partials/header.ejs'); %>

<h1>Which movie do you want to search?</h1>
<form action="/searchMovie" method="POST">
    <input type="text" name="movie">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>

<%- include ('partials/footer.ejs'); %>